// Don't removed these
$icon-font-path: "../fonts/";

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0;
  background: lighten(red, 30%);
  text-align: center;
  color: #fff;
  padding: 1em 0;
}

// Variables
$sunset: rgba(239, 100, 97, 1);
$honey: rgba(228, 179, 99, 1);
$white: #F5F7F4;
$lilac: rgba(224, 223, 213, 1);
$space: rgba(49, 54, 56, 1);
$blue: #21B7FF;

// Mixins

// Add custom Styles
body{
	font-size: 17px;
}

section#splash{
	background-color: $blue;
	padding: 150px 50px;
	text-align: center;
	color: white;
}

article, p, section{
	letter-spacing: .3px;
}

img{
	max-width: 100%;
}

a{
	color: $blue;
	&:hover{
		text-decoration: none;
	}
}

section.spaced{
	margin: 50px auto;
}
